.nav-logo img {
    max-height: 50px;
    border-radius: 0%;
  }
  
  
@media (min-width: 600px) {
  .nav-logo img {
    max-height: 50px;
    border-radius: 0%;
  }
  
.caption {
  text-align: center;
}